 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
:root {
    --background: radial-gradient(circle, rgba(44,10,59,0.9808298319327731) 6%, rgba(35,25,36,1) 38%);
    --background2: black;
    --textColor: #11e7ff;
    --h1: #30e726;
}

/* body holds the page the h1, section then <p> tags */
body {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px;
   padding: 0;
   min-height: 100vh;
   font-family: 'Red Hat Display', sans-serif;
 border: 1px solid green;
   background: var(--background2);
   overflow: hidden;
   }
   
section {
   overflow: hidden;
   min-height: 100vh;
}

  
 .h1 {
    display: flex;
    justify-content: center;
    color: var(--h1);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: -5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent , transparent 45%,
     rgba(255, 255, 255, 0.162));
 }
 p {
   display: flex;
   
   justify-content: center;
 /* border: 1px solid yellow; */

 }

section .text1 {
   white-space: pre-wrap;
  display: flex;
  flex-wrap: wrap;
  word-wrap: normal;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--textColor);
    font-family: Bahnschrift;
 }

 /* section .text1  span {
 
 } */
 
 section .text2 {
   white-space: pre-wrap;
  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   margin: 5px;
   color: #00ffff;
   font-size: 2rem;
   min-width: 950px;
   padding-left: 6rem;
   padding-right: 6rem;
   color: var(--textColor);
   font-family: Bahnschrift;
   margin-bottom: 0;
} 

section .text2 span {
   white-space: pre-wrap;
   margin-bottom: 0;

}
